<section class="header">
  <div class="">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <!-- <a class="navbar-brand">Logo</a> -->
          <span>
              <img src="assets/logo.PNG" />
          </span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <!-- <a class="nav-link">Home</a> -->
                <span class="mr-2"><img src="./assets/pin.png" /></span>
              </li>
              <li class="nav-item">
                  <span><img src="./assets/user.png" /></span>
              </li>

            </ul>
          </div>
        </nav>
  </div>
</section>

<section class="wrapper pt-2">
  <div class="container">
      <div class="community">
          <div class="p-1 d-flex justify-content-around">
              <h1><b>Your Community</b></h1>
              <div>
                  <form class="form-inline">
                      <input class="form-control br-25" type="search" placeholder="Search" aria-label="Search">
                      <!-- <span class="material-icons">search</span> -->
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="wrapper py-4">
  <div class="container">
    <div class="vote-cards p-3 border">
      <div class="vote-heading">
        <h2 class="vote-title">Vote</h2>
        <span></span>
        <p>For this week’s Scuttlebuttle</p>
      </div>

      <div class="row mt-2">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="position-absolute p-2">
                <span class="material-icons text-white">check_circle_outline</span>
              </div>
              <img src="/assets/nett.JPG" />
            </div>
            <div class="card-footer d-flex ">
              <div class="mr-4">
                <span class="material-icons" style="font-size: 50px;">pause_presentation</span>
              </div>
              <div class="card-content w-100">
                <h5><b>Nett Construction</b></h5>
                <p><small>Nominated by pfaff11</small></p>
                <div>
                  <div class="d-flex justify-content-between">
                    <span>2:10</span>
                    <span>3:30</span>
                  </div>
                  <div class="progress mt-2">
                    <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar" style="width: 75%;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="position-absolute p-2">
                <span class="material-icons text-white">check_circle_outline</span>
              </div>
              <img src="/assets/vibe.JPG" />
            </div>
            <div class="card-footer d-flex ">
              <div class="mr-4">
                <span class="material-icons" style="font-size: 50px;">pause_presentation</span>
              </div>
              <div class="card-content w-100">
                <h5><b>Nett Construction</b></h5>
                <p><small>Nominated by pfaff11</small></p>
                <div>
                  <div class="d-flex justify-content-between">
                    <span>2:10</span>
                    <span>3:30</span>
                  </div>
                  <div class="progress mt-2">
                    <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar" style="width: 75%;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="position-absolute p-2">
                <span class="material-icons text-white">check_circle_outline</span>
              </div>
              <img src="/assets/save-alot.JPG" />
            </div>
            <div class="card-footer d-flex ">
              <div class="mr-4">
                <span class="material-icons" style="font-size: 50px;">pause_presentation</span>
              </div>
              <div class="card-content w-100">
                <h5><b>Nett Construction</b></h5>
                <p><small>Nominated by pfaff11</small></p>
                <div>
                  <div class="d-flex justify-content-between">
                    <span>2:10</span>
                    <span>3:30</span>
                  </div>
                  <div class="progress mt-2">
                    <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar" style="width: 75%;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12 tc">
          <p><small>Your selection: <b>Vibe Coffee</b></small></p>
          <button class="my-button">Vote now</button>
        </div>
      </div>

      <div class="row mt-5 border-top">
        <div class="col-md-12 mt-3">
          <div class="vote-heading">
            <h2 class="vote-title">Nominate</h2>
            <span></span>
          </div>
          <div class="tc">
            <div class="form-group">
              <p>Who do you think should be in the running for next week’s Scuttlebuttle? Nominate a local business here.</p>
              <input type="text" class="form-control" placeholder="Search by name of business">
              <textarea class="form-control mt-3" placeholder="Brag on your recent experience! No need to write your novel, just
              the basics:
              When you visited
              What you liked and why they should be nominated
              How this business makes Elizabethtown awesome "></textarea>
              <div class="d-flex mt-3">
                <!-- <input type="file" class="form-control mr-2" placeholder="Add photos, audio clips, or videos"> -->
                <input class="form-control" type="text" placeholder="Add photos, audio clips, or videos">
                <label class="file pointer">
                  <input type="file" id="file" class="d-none" aria-label="Add photos, audio clips, or videos" >
                  <span>
                    <span class="material-icons">file_upload</span>
                  </span>
                </label>
                <button class="my-button">Submit</button>
              </div>
              <p class="my-3 pointer tr btn-link">Read our nomination policy</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="wrapper py-3">
  <div class="container footer">
    <img src="/assets/footer-logo.PNG" />
    <p class="my-3">©2021 Scuttlebuttle® a division of Perkins Media All rights reserved.</p>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Terms and Conditions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Content Policy</a>
      </li>
    </ul>
  </div>
</section>